@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

$font-roboto: 'Roboto', sans-serif;
$font-Oswald: 'Oswald', sans-serif;
$theme-color: #F04043;
$theme-color2: #0053a4;
$header-color: #f8f8f8;
$color-blue: #30afd6;
$link-color: $color-blue;
$color-dark-blue: #1792b8;
$color-off: #DFDFDF;
$footer-color: #0b2a40;
