@import "variables";
@import "mixin";
@import "all-style";

//header-------------

#myBtn {
	position: fixed; 
	bottom: 15px; 
	right: 15px; 
	z-index: 99; 
	border: none; 
	outline: none; 
	background-color: $theme-color; 
	color: white; 
	font-size: 22px;
	cursor: pointer; 
	padding: 5px 10px; 
	border-radius: 5px; 
	@include box-shadow;
	&:hover {
	background-color: #555; 
	}	
}
header {
	width: 100%;
	position: relative;
	z-index: 10;
	background-color: $header-color; 
	& .logo {
	height: 170px;
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 0;
	@include transition;
	& .img-size {
	width: auto;
	height: 100%;
	}	
	@media (max-width:992px) {	
	position: relative;
	height: 55px;
	}	
	}
	&.sticky {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	@include box-shadow;	
	& .logo {
	height: 70px;
	@media (max-width:992px) {	
	height: 55px;
	}
	}
	}
	& .loginblock {
	width: auto;
	float: right;
	margin-top: 18px;
	@media (max-width:992px) {
	margin: 8px 0;
	}
	& .loginreg {
	background-color: $theme-color;
	color: #000;
	margin-left: 10px;
	@media (max-width:992px) {
	background-color: rgba(255,255,255,0.10);
	color: $theme-color;
	width: 45px;
	height: 45px;
	line-height: 45px;
	border-radius: 50%;
	cursor: pointer;
	font-size: 18px;
	padding: 0;
	& span {
	display: none;
	}
	}
	&:hover {
	background-color: #fff;
	@media (max-width:992px) {
	background-color:$theme-color;
	color: #000;
	}
	}
	}
	}
}
.relative-block {
	position: relative;
}


//menu-part---------
.menu {
	width: auto;
	display: inline-block;
	vertical-align: top;
	margin-top: 0;
	//margin-left: 20px;
	float: right;
	& .moblogo {
	display: none;
	}
	&.closemenu {
	left: inherit;	
	}
	& ul {
	list-style:none;
	padding: 0;
	margin: 20px 0;
	& li {
	width: auto;
	display: inline-block;
	margin: 0 5px;	
	font-size: 15px;
	position: relative;
	&:after {
	content: '|';
	color: #9fa1a1;
	position: absolute;
	top: 5px;
	right: -6px;
	}
	&:last-child {
	&:after {
	display: none;
	}	
	}	
	& a {
	text-decoration: none;
	padding: 5px 10px;
	display: block;
	color: #000;
	font-family: $font-Oswald;
	font-size: 17px;	
	outline: none;
	text-transform: uppercase;
	@media only screen and (min-width: 992px) and (max-width: 1200px) {
	font-size: 14px;
	padding: 5px 7px;
	}
	&:hover {
	color:$theme-color;
	}
	}
	& ul.dmenu {
	&:after {
	position: absolute;
	top: -10px;
	left: 10px;
	z-index: 2;	
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #fff transparent;
	}	
	& li {
	display: block;
	margin: 0;
	& a {
	padding-left: 15px;
	padding-right: 15px;
	font-size: 15px;	
	}	
	&:after {
	display: none;
	}
	}
	}	
	}
	}	
}
.mobmenu, .moboverlay {
	display: none;
}
@media (max-width:992px) {	
.mobmenu {
	float: right;
	margin-left: 10px;	
	display: block;
	background-color: rgba(255,255,255,0.10);
	color: $theme-color;
	text-align: center;
	width: 45px;
	height: 45px;
	line-height: 45px;
	border-radius: 50%;
	cursor: pointer;
	font-size: 22px;
	&:hover {
	background-color:$theme-color;
	color: #000;
	}
}
.moboverlay {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9;
	width: 100%;
	height: 100%;
	background-color: transparent;
	&.open {
	display: block;
	}
}	
.menu {	
	width: 230px;
	height: 100%;
	display: block;
	margin: 0;	
	background-color: $header-color;
	position: fixed;
	top: 0;
	left: -100%;
	z-index: 10;
	box-shadow: 3px 0px 5px 0px rgba(238,236,246,0.75);
	-webkit-box-shadow: 3px 0px 5px 0px rgba(238,236,246,0.75);
	-moz-box-shadow: 3px 0px 5px 0px rgba(238,236,246,0.75);
	@include transition;
	&.open {
	left: 0;	
	}
	& .moblogo {
	height: 80px;
	display: block;
	margin: 10px 15px;
	& img {
	height:100%;
	width: auto;
	}	
	}	
	& ul {
	border-top:1px solid $theme-color;
	margin: 0;	
	& li {
	width: 100%;
	display: inline-block;
	margin: 0;	
	font-size: 15px;
	&:after {
	display: none;
	}
	& a {
	text-decoration: none;
	padding: 10px 15px;
	display: block;
	color: #000;
	&:hover {
	color:$theme-color;
	background-color: rgba(255,255,255,0.10);
	}
	}
	& ul.dmenu {
	width: 100%;
	& li {
	display: block;
	margin: 0;
	& a {
	padding-left: 15px;
	padding-right: 15px;
	}	
	}
	}	
	}
	}	
	}
}
//--Slider-section-----

.carousel-fade {
	& .carousel-item {
	opacity: 0.2;
	transition-duration: .4s;
	transition-property: opacity;
	transform: translateX(0);
	transform: translate3d(0, 0, 0);
	&.active {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	}	
	}
}
.slider-size {
	width: 100%;
	position: relative;
	@include design-height;
	& .img-size {
	width: 100%;
	height: 100%;
	object-fit: cover;
	}
}
.slider-design {
	position: relative;
	@include design-height;
	@media (max-width:992px) {
	display: none;
	}
	& .sliderstyle-size {
    width: 460px;
	@include design-height;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	}
	&-content {
	position: absolute;
	top: 160px;
	left: 20px;
	width: 270px;
	z-index: 12;
	color: #fff;	
	& .htext {
	font-size: 30px;
	font-weight: bold;
		
	}
	@media only screen and (min-width: 992px) and (max-width: 1400px) {	
	top: 140px;
	& .htext {
	font-size: 25px;
	}
	}	
	}
}

.carousel-indicators {
	z-index: 5;
	& button {
	outline: none;
	height: 5px;
	background-color: #666;	
	&.active {
	background-color: $theme-color;
	}
	}
}
//---------------


.aboutimg {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
	padding: 20px 0;
	@media (max-width:992px) {
	padding: 0 0 10px;
	}
	& .img-size {
	border-radius: 6px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	}
}
.blockcontent {
	background-color: #fff;
	border-radius: 0 6px 6px 0;
	padding: 20px;
	width: 100%;
	height: 100%;
	position: relative;
	@media (max-width:992px) {
	border-radius:  6px;
	}
	& h2 {
	font-size: 27px;
	}
	&:before {
	content: '';
	position: absolute;
	top: 0;
	right: 100%;
	width: 120px;
	height: 100%;
	background-color: #fff;
	border-radius: 6px 0 0 6px;
	display: block;
	@media (max-width:992px) {
	display: none;
	}
	}
}

//--------------------
.sustainabilitylist {
	width: 100%;
	display: block;
	& ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	& li {
	width: 50%;
	@media (max-width:992px) {
	width: 100%;
	}
	float: left;
	&:nth-child(n+3) {
	& .sustainabilitylist-content {
	float: right;
	}
	}
	&:hover {
	& .sustainabilitylist-image {
	&:before {
	border-color: #fff;
	}
	}
	}
	}
	}
	&-content {
	width: 50%;
	height: 170px;
	float: left;
	background-color: #303849;
	padding: 20px;
	text-align: center;
	color: #fff;
	display: block;
	vertical-align: middle;
	display: flex;
	align-items: center;
	position: relative;
	& a {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	}	
	&:before {
	content: '';
	border:1px solid #fff;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	display: block;
	width: 90%;
	height: 88%;
	}	
	& h3 {
	font-size: 25px;
	width: 100%;
	position: relative;
	z-index: 2;
	}	
	}
	&-image {
	width: 50%;
	height: 170px;
	float: left;
	display: block;	
	background-color: #fff;
	position: relative;
	&:before {
	content: '';
	border:1px solid #303849;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	display: block;
	width: 90%;
	height: 88%;
	}
	& .img-size {
	width: 100%;
	height: 100%;
	object-fit: cover;
	}	
	}
}
.featured-block {
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #fff;
	border-radius: 3px;
	& .imgblock {
	width: 100%;
	height: 170px;
	display: block;
	padding: 10px;
	& .img-size {
	width: 100%;
	height: 100%;
	object-fit: scale-down;
	border-radius: 3px 3px 0 0;
	}
	}
	& .imgcertifi {
	width: 100%;
	height: 250px;
	display: block;
	padding: 10px;	
	& .imgsize {
	width: 100%;
	height: 100%;
	object-fit: scale-down;
	border-radius: 3px 3px 0 0;
	}	
	}
	& .contentblock {
	width: 100%;
	padding: 10px;
	display: inline-block;
	background-color: $theme-color;
	border-radius: 0 0 3px 3px;	
	& h5 {
	font-size: 17px;
	margin: 0;
	padding-bottom: 5px;
	color: #fff;
	}
	& p {
	margin: 0;
	}
	}
	& .viewblock {
	border-top:1px solid #757575;
	padding: 2px 10px;
	display: block;
	position: relative;

	& .viewlink {
	width: 54px;
	height: 54px;
	line-height: 50px;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	background-color: $theme-color;
	color: #fff;
	border-radius: 50%;
	position: absolute;
	top: -25px;
	right: 10px;
	z-index: 2;
	text-decoration: none;
	border: 4px double #fff;
	outline: none;
	&:hover {
	background-color: $header-color;
	color:#000;	
	}
	}
	}
}
//========


.facilities {
	width: 100%;
	display: inline-block;
	margin-bottom: 10px;
	& ul {
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;
	@include display-flex;	
	& li {
	width: 25%;
	@media (max-width:992px) {
	width: 50%;
	}
	float: left;
	display: block;
	text-align: center;
	position: relative;
	counter-increment: step-counter;
	& .item {
	display: block;
	padding: 15px;
	position: relative;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 3px;	
	padding-top: 80px;
	width: 100%;
	height: 100%;
	text-decoration: none;
	@include transition;	
	}	
	&:before {
	color: #fff;
	content: "0" counter(step-counter);
	display: block;
	font-family: $font-Oswald;
	font-size: 35px;
	font-weight: 100;
	letter-spacing: 3px;
	margin-bottom: 15px;
	-webkit-transition: .5s all;
	transition: .5s all;
	z-index: 1;
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	text-align: center;
	@include transition;		
	}
	&:hover {
	background-color: rgba(255,255,255,0.80);
	& .item {
	color: #000 !important;
	}
	&:before {
	color: #000 !important;
	}
	}	
	&.active {
	background-color: rgba(255,255,255,0.80);
	& .item {
	color: #000 !important;
	}
	&:before {
	color: #000 !important;
	}	
	}	
	& a {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;	
	z-index: 2;	
	}
	}
	}

}


//======
.people-say {
	width: 100%;
	height: 100%;
	position: relative;
	display: block;
	border-radius: 3px;
	padding: 15px;
	float: right;
	&:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 90%;
	height: 100%;
	background-color: #fff;
	border: 1px solid #c6c6c6;
	}
	&:after {
	font-family: 'icomoon';
	content: '\e91f';
	font-size: 30px;
	color: #F0F0F0;
	position: absolute;
	top: 10px;
	left: 115px;
	z-index: 1
	}
	& .peopleimg {
	width: 120px;
	height: 120px;
	border: 1px solid #c6c6c6;
	border-radius: 3px;
	padding: 5px;
	position: absolute;
	top: 50px;
	left: 0px;
	z-index: 2;
	display: block;
	& .img-size {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 3px;
	}
	}
	& .peoplecontent {
	padding: 20px 20px 20px 130px;
	position: relative;
	z-index: 2;
	& p {
	font-size: 13px;
	color: #757575;
	margin: 0;
	padding-bottom: 3px;
	padding-top: 3px;
	& strong {
	color: #000;
	font-size: 15px;
	}	
	}
	}
}

//FOOTER============

footer {
	background-color: #1B191A;
	border-top:1px solid rgba(239,239,239,0.20);
	width: 100%;
	display: block;
	padding: 10px 0 0 0;
	& .bottomborder {
	display: block;
	border-bottom: 1px solid rgba(244,244,244,0.20);
	}
	& .heading {
	font-size: 20px;
	color: $theme-color;
	margin-top: 22px;
	margin-bottom: 15px;
	}
	& .call {
	font-size: 13px;
	color: #fff;
	& i {
	font-size: 18px;
	}
	& strong {
	font-size: 17px;
	}
	}
	& .subcolor {
	background-color: $theme-color;
	&:hover {
	background-color: #FFC328;
	}	
	}
	& .logofooter {
	height: 80px;
	& img {
	width:auto;
	height: 100%;
	}	
	}
	& p {
	color: #DCDCDC;
	font-size: 15px;
	line-height: 25px;
	}
	& ul.list {
	& li {
	margin-bottom: 5px;
	margin-top: 5px;
	& a {
	color: #DCDCDC;
	text-decoration: none;
	&:hover {
	color: $theme-color;
	}
	}	
	}
	}
	& .gettouch {
	& .form-control {
	border-radius: 0;
	background-color: transparent;
	color: #fff;
	}
	& .btn {
	border-radius: 0;	
	}	
	}
	& .copyright {
	width: 100%;
	display: inline-block;
	background-color: #333;
	border-top:1px solid #fff;
	padding: 20px 0;
	text-align: center;
	font-size: 13px;
	color: #fff;
	}
}

.other-banner {
	width: 100%;
	position: relative;
	display: block;
	& .font-size24 {
	font-size: 24px;
	}
	& img {
	width: 100%;
	}
	& .block-content-other {
	position: absolute;
	bottom: 30px;
	left: 15px;	
	z-index: 6;
	@media (max-width:767px) {
	margin-top: 0px;
	}
	}
}
ul.aboutlist {
	list-style: none;
	width: 100%;
	margin: 15px 0;
	padding: 0;
	display: inline-block;
	@media (max-width:767px) {	
	overflow: auto;
    white-space: nowrap;
	margin: 10px 0 0 0;	
	}
	& li {
	width: 25%;
	float: left;
	@media (max-width:767px) {	
	width: 50%;	
	float: none;
	display: inline-block;
	margin-bottom: 20px;	
	}
	& a {
	background-color: #fff;
	width: 100%;
	display: block;
	padding: 15px;
	font-family: $font-Oswald;
	font-size: 17px;
	color: #000;
	text-align: center;
	@include box-shadow;
	text-decoration: none;
	position: relative;
	&:hover  {
	color: $theme-color;
	}	
	}
	&.active {
	& a {
	color: $theme-color;
	&:before {
	content: '';	
	position: absolute;
	bottom: -6px;
	left: 0;
	right: 0;
	z-index: 2;
	margin: auto;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 25px 0 25px;
	border-color: #fff transparent transparent transparent;
	}	
	}
	}	
	}
}

ul.productlist {
	list-style: none;
	width: 100%;
	margin: 15px 0;
	padding: 0;
	display: flex;
	align-items: center;
	@media (max-width:767px) {	
	overflow: auto;
    white-space: nowrap;
	margin: 10px 0 0 0;	
	}
	& li {
	width: 100%;
	float: left;
	@media (max-width:767px) {	
	width: 50%;	
	float: none;
	display: inline-block;
	margin-bottom: 20px;	
	}
	& a {
	background-color: #fff;
	width: 100%;
	display: block;
	padding: 15px;
	font-family: $font-Oswald;
	font-size: 17px;
	color: #000;
	text-align: center;
	@include box-shadow;
	text-decoration: none;
	position: relative;
	&:hover  {
	color: $theme-color;
	}	
	}
	&.active {
	& a {
	color: $theme-color;
	&:before {
	content: '';	
	position: absolute;
	bottom: -6px;
	left: 0;
	right: 0;
	z-index: 2;
	margin: auto;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 25px 0 25px;
	border-color: #fff transparent transparent transparent;
	}	
	}
	}	
	}
}


/*contact-style------*/
.contact_input_area .form-group input,
.contact_input_area .form-group select,
.contact_input_area .form-group textarea {
	border-radius: 3px;
	box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.15);
	font-weight: 300;
	height: 50px;
	margin-bottom: 15px;
	padding: 15px;
	-webkit-transition-duration: 500ms;
	transition-duration: 500ms;
	width: 100%;
}
.contact_input_area .form-group input:focus,
.contact_input_area .form-group select:focus,
.contact_input_area .form-group textarea:focus {
	box-shadow: 5px 5px 24px rgba(0, 0, 0, 0.15);
	border: none;
}
.contact_input_area .form-group textarea {
	height: 150px;
}
.contact_input_area {
	& .btn-info {
	background-color:#E7E7E7;
	border-color:#E7E7E7;
	color:#3B3B3B;
	font-size:16px;
	&:hover {
	background-color:$theme-color;
	border-color:$theme-color;
	color:#fff;
	}
	}
}
/*End-contact-style------*/

.policy {
	width: 80%;
	background-color: #fbfbfb;
	@media (max-width:767px) {	
	width: 100%;
	margin: 0;
	padding: 20px;	
  	}
	display: block;
	margin: 50px auto;
    font-style: italic;
	font-size: 18px;
	padding: 30px;
	border: 10px double #ccc;
}

.job-search {
	width: 100%;
	display: inline-block;
	position: relative;
	z-index: 10;
	top: -30px;
	&:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 24px;
	left: 0;
	bottom: -23px;
	display: block;
	background-image: url(../images/search-shadow.png);
	background-size: 100% 100%;
	}
	@media (max-width: 767px) {
	top: -20px;
	}
	background-color: #fcfcfc;
	padding:25px 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.13);
	& ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	display: inline-block;
		text-align: center;
	& li {
	display: inline-block;
	width: 27%;
	list-style: none;
	padding: 0 5px;
	position: relative;
	@media (max-width: 767px) {
	width: 100%;
	margin-bottom: 10px;
	}
	&:last-child {
	width: 18%;
	@media (max-width: 767px) {
	width: 100%;
	margin-bottom: 0;
	}	
	}		
	& .form-control {
	height: 56px;
	width:100%;
	color: #6f7484;
	font-size: 14px;
	padding: 7px 20px;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 4px;
	border: 1px solid $theme-color;
	}
	& .btn-search {
	height: 55px;
	width: 100%;
	padding: 10px !important;	
	}	
	}
	}
}
.btn-style {
	background-color: $theme-color;
	color: #fff;
	border: 1px solid $theme-color;
	border-radius: 4px;
	padding: 10px 20px;
	&:hover {
	background-color: transparent;
	color: $theme-color;
	}
}
.blockbg {
	background-color: #fff;
	padding: 20px;
	width: 100%;
	border: 1px solid rgba(0,0,0,.1);
	display: inline-block;
	margin-bottom: 20px;
}


//--add-01042021------

.product-service {
	background-color: #fff;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
    position: relative;
	width: 100%;
	min-height: 120px;
	overflow: hidden;
	@include box-shadow;
	margin-bottom: 10px;
	padding: 10px;
	& a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	display: block;
	}
	& .icon-wrapper {
	width: 100%;
	position: relative;
	z-index: 2;
	& img {
	filter: invert(100%);
	@include transition;
	}
	}
	& .product-txt {
	width: 100%;
	position: relative;
	z-index: 2;
	font-size: 20px;
	text-align: center;
	font-family: $font-Oswald;
	text-transform: uppercase;
	@include transition;	
	}
	&:before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 0;
    height: 0;
    border-top: 0px solid $theme-color;
    border-right: 0px solid transparent;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    }
	&:after {
    position: absolute;
    content: "";
    bottom: 0px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: 0;
    border-bottom: 0px solid $theme-color;
    border-left: 0px solid transparent;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    }
	&:hover {
	& .icon-wrapper {
	& img {
	filter: none;
	}
	}	
	& .product-txt {
	color: #fff;
	}
	&:before {
    border-top: 201px solid $theme-color;
    border-right: 362px solid transparent;
	}
	&:after {
	border-bottom: 200px solid $theme-color;
	border-left: 360px solid transparent;
	}
	}
}
.padr0 {
	padding-right:0 ;
	@media (max-width: 991px) {
		padding-right:12px;
	}
}
.padl0 {
	padding-left: 0;
	@media (max-width: 991px) {
		padding-left:12px;
	}
}
.custing {
	margin-bottom: 15px;
	&img{
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #AAD9ED;
	@include box-shadow;
	& .imgsize {
	width: 100%;
	height: 100%;
	object-fit: scale-down;
    @media (max-width: 991px) {
	height: 170px;
	}
	}	
	}
	&list {
	width: 100%;
	height: 100%;
	padding: 10px 10px 10px 20px;	
	position: relative;
	background-color: #fff;
	@include box-shadow;
	& ul {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	& li {
	display: inline-block;
	padding: 7px 20px 7px 0;
	& a {
	color:#000;
	text-decoration: none;
	font-size: 16px;
	&:before {
	content: "\e907";
	font-family: 'icomoon';
	color: $theme-color;
	position: relative;
	top: 2px;
	margin-right: 4px;
	}
	&:hover {
	color: $theme-color;	
	}
	}	
	}
	}
	}
}
.description {
	width: 100%;
	display: block;
	background-color: #fff;
	@include box-shadow;
	& .heading {
	background-color: #f8f8f8;
	padding: 15px 20px;
	font-size: 22px;
	color:$theme-color;
	}
	& ul {
	width: 100%;
	display: block;
	margin: 0;
	padding: 5px 20px 10px;
	list-style: none;
	& li {
	width: 100%;
	display: flex;
	 @media (max-width: 991px) {
	 display: block;
	}
	align-items: center;
	font-size: 16px;
	padding: 7px 0;
	& .nwme {
	min-width: 150px;
	position: relative;
	padding-right: 15px;
	&:after {
	content: ':';
	color: $theme-color;
	font-weight: bold;
	position: absolute;
	top: -1px;
	right: 10px;
	@media (max-width: 991px) {
	position: relative;
	right: inherit;
	}
	}
	@media (max-width: 991px) {
	width: 100%;
	}
	}
	}
	}
}

ul.listcusting {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
	& li {
	width: 100%;
	margin: 0;
	& a {
	width: 100%;	
	padding: 10px 10px 10px 40px;
	font-size: 16px;
	display: block;
	text-decoration: none;
	color: #000;
	position: relative;
	& img {
	width:25px;
	position: absolute;
	top: 10px;
	left: 8px;
	display: inline-block;
    filter: invert(100%);
	}	
	&:hover {
	background-color: #FFEEEE;
	}	
	}
	}
}
