@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Oswald&display=swap);
@charset "UTF-8";
@-webkit-keyframes menu_sticky {
  0% {
    margin-top: -100px;
  }
  50% {
    margin-top: -90px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes menu_sticky {
  0% {
    margin-top: -100px;
  }
  50% {
    margin-top: -90px;
  }
  100% {
    margin-top: 0;
  }
}
@-webkit-keyframes menu_sticky {
  0% {
    margin-top: -100px;
  }
  50% {
    margin-top: -90px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes menu_sticky {
  0% {
    margin-top: -100px;
  }
  50% {
    margin-top: -90px;
  }
  100% {
    margin-top: 0;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  margin-top: 10px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.clr {
  clear: both;
}

.text-theme {
  color: #F04043;
}

.height5 {
  height: 5px;
}

.height10 {
  height: 10px;
}

.height15 {
  height: 15px;
}

.height20 {
  height: 20px;
}

.height25 {
  height: 25px;
}

.height30 {
  height: 30px;
}

.bg-off {
  background-color: #EFEFEF;
}

.pad0 {
  padding: 0;
}

.mbottom10 {
  margin-bottom: 10px;
}

.padmar10 {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul.list, ol.list {
  margin: 10px 0;
  padding: 0;
  margin-bottom: 15px;
}
ul.list li, ol.list li {
  margin-left: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding-bottom: 4px;
  color: #5C5C5C;
}
ul.list li a, ol.list li a {
  color: #000;
}
ul.list li a:hover, ol.list li a:hover {
  color: #F04043;
}
ul.list.white li a, ol.list.white li a {
  color: #fff;
}
ul.list.white li a:hover, ol.list.white li a:hover {
  color: #F04043;
}

.fixed_img {
  width: 100%;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover !important;
  background-attachment: fixed !important;
  height: 100% !important;
  display: block;
  position: relative;
}

.fixed-overlay {
  background: rgba(28, 28, 28, 0.6);
  background-image: url(../images/overlay.png);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: block;
}

.sec-bg1 {
  background: url(../images/resource/paralax-1.jpg) no-repeat center;
}

.sec-bg2 {
  background: url(../images/resource/paralax-2.jpg) no-repeat right;
}

.block-paralax {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  z-index: 3;
}

/*----End-Paralax-css-----*/
.social-block {
  display: block;
}
.social-block a {
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  margin-right: 7px;
  border-radius: 7px;
  border-bottom: 1px solid #fff;
}
.social-block a:hover {
  opacity: 0.7;
}
.social-block a.facebook {
  background-color: #4267B2;
}
.social-block a.twitter {
  background-color: #00acee;
}
.social-block a.linkedin {
  background-color: #0e76a8;
}
.social-block a.youtube {
  background-color: #ff0000;
}

.section-title {
  display: block;
  text-align: center;
  position: relative;
  font-size: 27px;
  padding: 10px;
  margin: 0;
  margin-bottom: 10px;
}
.section-title:after {
  content: "";
  background: url(../images/black-border.png) no-repeat center;
  width: 123px;
  height: 13px;
  display: table;
  margin: 10px auto 0;
}
.section-title.white {
  color: #fff;
}
.section-title.white:after {
  background: url(../images/white-border.png) no-repeat center;
}

#myBtn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #F04043;
  color: white;
  font-size: 22px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
  box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
}
#myBtn:hover {
  background-color: #555;
}

header {
  width: 100%;
  position: relative;
  z-index: 10;
  background-color: #f8f8f8;
}
header .logo {
  height: 170px;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
header .logo .img-size {
  width: auto;
  height: 100%;
}
@media (max-width: 992px) {
  header .logo {
    position: relative;
    height: 55px;
  }
}
header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
  box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
}
header.sticky .logo {
  height: 70px;
}
@media (max-width: 992px) {
  header.sticky .logo {
    height: 55px;
  }
}
header .loginblock {
  width: auto;
  float: right;
  margin-top: 18px;
}
@media (max-width: 992px) {
  header .loginblock {
    margin: 8px 0;
  }
}
header .loginblock .loginreg {
  background-color: #F04043;
  color: #000;
  margin-left: 10px;
}
@media (max-width: 992px) {
  header .loginblock .loginreg {
    background-color: rgba(255, 255, 255, 0.1);
    color: #F04043;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    padding: 0;
  }
  header .loginblock .loginreg span {
    display: none;
  }
}
header .loginblock .loginreg:hover {
  background-color: #fff;
}
@media (max-width: 992px) {
  header .loginblock .loginreg:hover {
    background-color: #F04043;
    color: #000;
  }
}

.menu {
  width: auto;
  display: inline-block;
  vertical-align: top;
  margin-top: 0;
  float: right;
}
.menu .moblogo {
  display: none;
}
.menu.closemenu {
  left: inherit;
}
.menu ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}
.menu ul li {
  width: auto;
  display: inline-block;
  margin: 0 5px;
  font-size: 15px;
  position: relative;
}
.menu ul li:after {
  content: "|";
  color: #9fa1a1;
  position: absolute;
  top: 5px;
  right: -6px;
}
.menu ul li:last-child:after {
  display: none;
}
.menu ul li a {
  text-decoration: none;
  padding: 5px 10px;
  display: block;
  color: #000;
  font-family: "Oswald", sans-serif;
  font-size: 17px;
  outline: none;
  text-transform: uppercase;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .menu ul li a {
    font-size: 14px;
    padding: 5px 7px;
  }
}
.menu ul li a:hover {
  color: #F04043;
}
.menu ul li ul.dmenu:after {
  position: absolute;
  top: -10px;
  left: 10px;
  z-index: 2;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #fff transparent;
}
.menu ul li ul.dmenu li {
  display: block;
  margin: 0;
}
.menu ul li ul.dmenu li a {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
}
.menu ul li ul.dmenu li:after {
  display: none;
}

.mobmenu, .moboverlay {
  display: none;
}

@media (max-width: 992px) {
  .mobmenu {
    float: right;
    margin-left: 10px;
    display: block;
    background-color: rgba(255, 255, 255, 0.1);
    color: #F04043;
    text-align: center;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 22px;
  }
  .mobmenu:hover {
    background-color: #F04043;
    color: #000;
  }

  .moboverlay {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  .moboverlay.open {
    display: block;
  }

  .menu {
    width: 230px;
    height: 100%;
    display: block;
    margin: 0;
    background-color: #f8f8f8;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    box-shadow: 3px 0px 5px 0px rgba(238, 236, 246, 0.75);
    -webkit-box-shadow: 3px 0px 5px 0px rgba(238, 236, 246, 0.75);
    -moz-box-shadow: 3px 0px 5px 0px rgba(238, 236, 246, 0.75);
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }
  .menu.open {
    left: 0;
  }
  .menu .moblogo {
    height: 80px;
    display: block;
    margin: 10px 15px;
  }
  .menu .moblogo img {
    height: 100%;
    width: auto;
  }
  .menu ul {
    border-top: 1px solid #F04043;
    margin: 0;
  }
  .menu ul li {
    width: 100%;
    display: inline-block;
    margin: 0;
    font-size: 15px;
  }
  .menu ul li:after {
    display: none;
  }
  .menu ul li a {
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    color: #000;
  }
  .menu ul li a:hover {
    color: #F04043;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .menu ul li ul.dmenu {
    width: 100%;
  }
  .menu ul li ul.dmenu li {
    display: block;
    margin: 0;
  }
  .menu ul li ul.dmenu li a {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.carousel-fade .carousel-item {
  opacity: 0.2;
  transition-duration: 0.4s;
  transition-property: opacity;
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-item.active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slider-size {
  width: 100%;
  position: relative;
  height: 450px;
}
@media only screen and (min-width: 992px) and (max-width: 1400px) {
  .slider-size {
    height: 400px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .slider-size {
    height: 300px;
  }
}
@media (max-width: 767px) {
  .slider-size {
    height: 200px;
  }
}
.slider-size .slider-size {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-design {
  position: relative;
  height: 450px;
}
@media only screen and (min-width: 992px) and (max-width: 1400px) {
  .slider-design {
    height: 400px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .slider-design {
    height: 300px;
  }
}
@media (max-width: 767px) {
  .slider-design {
    height: 200px;
  }
}
@media (max-width: 992px) {
  .slider-design {
    display: none;
  }
}
.slider-design .sliderstyle-size {
  width: 460px;
  height: 450px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
@media only screen and (min-width: 992px) and (max-width: 1400px) {
  .slider-design .sliderstyle-size {
    height: 400px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .slider-design .sliderstyle-size {
    height: 300px;
  }
}
@media (max-width: 767px) {
  .slider-design .sliderstyle-size {
    height: 200px;
  }
}
.slider-design-content {
  position: absolute;
  top: 160px;
  left: 20px;
  width: 270px;
  z-index: 12;
  color: #fff;
}
.slider-design-content .htext {
  font-size: 30px;
  font-weight: bold;
}
@media only screen and (min-width: 992px) and (max-width: 1400px) {
  .slider-design-content {
    top: 140px;
  }
  .slider-design-content .htext {
    font-size: 25px;
  }
}

.carousel-indicators {
  z-index: 5;
}
.carousel-indicators button {
  outline: none;
  height: 5px;
  background-color: #666;
}
.carousel-indicators button.active {
  background-color: #F04043;
}

.aboutimg {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  padding: 20px 0;
}
.aboutimg .img-size {
  border-radius: 6px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blockcontent {
  background-color: #fff;
  border-radius: 0 6px 6px 0;
  padding: 20px;
  width: 100%;
  height: 100%;
  position: relative;
}
@media (max-width: 992px) {
  .blockcontent {
    border-radius: 6px;
  }
}
.blockcontent h2 {
  font-size: 27px;
}
.blockcontent:before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 120px;
  height: 100%;
  background-color: #fff;
  border-radius: 6px 0 0 6px;
  display: block;
}
@media (max-width: 992px) {
  .blockcontent:before {
    display: none;
  }
}

.sustainabilitylist {
  width: 100%;
  display: block;
}
.sustainabilitylist ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.sustainabilitylist ul li {
  width: 50%;
  float: left;
}
@media (max-width: 992px) {
  .sustainabilitylist ul li {
    width: 100%;
  }
}
.sustainabilitylist ul li:nth-child(n+3) .sustainabilitylist-content {
  float: right;
}
.sustainabilitylist ul li:hover .sustainabilitylist-image:before {
  border-color: #fff;
}
.sustainabilitylist-content {
  width: 50%;
  height: 170px;
  float: left;
  background-color: #303849;
  padding: 20px;
  text-align: center;
  color: #fff;
  display: block;
  vertical-align: middle;
  display: flex;
  align-items: center;
  position: relative;
}
.sustainabilitylist-content a {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.sustainabilitylist-content:before {
  content: "";
  border: 1px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: block;
  width: 90%;
  height: 88%;
}
.sustainabilitylist-content h3 {
  font-size: 25px;
  width: 100%;
  position: relative;
  z-index: 2;
}
.sustainabilitylist-image {
  width: 50%;
  height: 170px;
  float: left;
  display: block;
  background-color: #fff;
  position: relative;
}
.sustainabilitylist-image:before {
  content: "";
  border: 1px solid #303849;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: block;
  width: 90%;
  height: 88%;
}
.sustainabilitylist-image .img-size {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured-block {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #fff;
  border-radius: 3px;
}
.featured-block .imgblock {
  width: 100%;
  height: 170px;
  display: block;
  padding: 10px;
}
.featured-block .imgblock .img-size {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  border-radius: 3px 3px 0 0;
}
.featured-block .contentblock {
  width: 100%;
  padding: 10px;
  display: inline-block;
  background-color: #F04043;
  border-radius: 0 0 3px 3px;
}
.featured-block .contentblock h5 {
  font-size: 17px;
  margin: 0;
  padding-bottom: 5px;
  color: #fff;
}
.featured-block .contentblock p {
  margin: 0;
}
.featured-block .viewblock {
  border-top: 1px solid #757575;
  padding: 2px 10px;
  display: block;
  position: relative;
}
.featured-block .viewblock .viewlink {
  width: 54px;
  height: 54px;
  line-height: 50px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  background-color: #F04043;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  right: 10px;
  z-index: 2;
  text-decoration: none;
  border: 4px double #fff;
  outline: none;
}
.featured-block .viewblock .viewlink:hover {
  background-color: #f8f8f8;
  color: #000;
}

.facilities {
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
}
.facilities ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.facilities ul li {
  width: 25%;
  float: left;
  display: block;
  text-align: center;
  position: relative;
  counter-increment: step-counter;
}
@media (max-width: 992px) {
  .facilities ul li {
    width: 50%;
  }
}
.facilities ul li:before {
  color: #fff;
  content: "0" counter(step-counter);
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 35px;
  font-weight: 100;
  letter-spacing: 3px;
  margin-bottom: 15px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  z-index: -1;
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  text-align: center;
}
.facilities ul li:hover:before {
  color: #000 !important;
  z-index: 1;
}
.facilities ul li .item {
  display: block;
  padding: 15px;
  position: relative;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  padding-top: 80px;
  width: 100%;
  height: 100%;
  text-decoration: none;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.facilities ul li .item:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
}

.people-say {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  border-radius: 3px;
  padding: 15px;
  float: right;
}
.people-say:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 90%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #c6c6c6;
}
.people-say:after {
  font-family: "icomoon";
  content: "î¤Ÿ";
  font-size: 30px;
  color: #F0F0F0;
  position: absolute;
  top: 10px;
  left: 115px;
  z-index: 1;
}
.people-say .peopleimg {
  width: 120px;
  height: 120px;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  padding: 5px;
  position: absolute;
  top: 50px;
  left: 0px;
  z-index: 2;
  display: block;
}
.people-say .peopleimg .img-size {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}
.people-say .peoplecontent {
  padding: 20px 20px 20px 130px;
  position: relative;
  z-index: 2;
}
.people-say .peoplecontent p {
  font-size: 13px;
  color: #757575;
  margin: 0;
  padding-bottom: 3px;
  padding-top: 3px;
}
.people-say .peoplecontent p strong {
  color: #000;
  font-size: 15px;
}

footer {
  background-color: #1B191A;
  width: 100%;
  display: block;
  padding: 10px 0 0 0;
}
footer .bottomborder {
  display: block;
  border-bottom: 1px solid rgba(244, 244, 244, 0.2);
}
footer .heading {
  font-size: 20px;
  color: #F04043;
  margin-top: 22px;
  margin-bottom: 15px;
}
footer .call {
  font-size: 13px;
  color: #fff;
}
footer .call i {
  font-size: 18px;
}
footer .call strong {
  font-size: 17px;
}
footer .subcolor {
  background-color: #F04043;
}
footer .subcolor:hover {
  background-color: #FFC328;
}
footer .logofooter {
  height: 80px;
}
footer .logofooter img {
  width: auto;
  height: 100%;
}
footer p {
  color: #DCDCDC;
  font-size: 15px;
  line-height: 25px;
}
footer ul.list li {
  margin-bottom: 5px;
  margin-top: 5px;
}
footer ul.list li a {
  color: #DCDCDC;
  text-decoration: none;
}
footer ul.list li a:hover {
  color: #F04043;
}
footer .gettouch .form-control {
  border-radius: 0;
  background-color: transparent;
  color: #fff;
}
footer .gettouch .btn {
  border-radius: 0;
}
footer .copyright {
  width: 100%;
  display: inline-block;
  background-color: #333;
  border-top: 1px solid #fff;
  padding: 20px 0;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
