@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Oswald&display=swap);
@charset "UTF-8";
@-webkit-keyframes menu_sticky {
  0% {
    margin-top: -100px;
  }
  50% {
    margin-top: -90px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes menu_sticky {
  0% {
    margin-top: -100px;
  }
  50% {
    margin-top: -90px;
  }
  100% {
    margin-top: 0;
  }
}
@-webkit-keyframes menu_sticky {
  0% {
    margin-top: -100px;
  }
  50% {
    margin-top: -90px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes menu_sticky {
  0% {
    margin-top: -100px;
  }
  50% {
    margin-top: -90px;
  }
  100% {
    margin-top: 0;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  margin-top: 10px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.clr {
  clear: both;
}

.text-theme {
  color: #F04043;
}

.height5 {
  height: 5px;
}

.height10 {
  height: 10px;
}

.height15 {
  height: 15px;
}

.height20 {
  height: 20px;
}

.height25 {
  height: 25px;
}

.height30 {
  height: 30px;
}

.bg-off {
  background-color: #EFEFEF;
}

.pad0 {
  padding: 0;
}

.mbottom10 {
  margin-bottom: 10px;
}

.padmar10 {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul.list, ol.list {
  margin: 10px 0;
  padding: 0;
  margin-bottom: 15px;
}
ul.list li, ol.list li {
  margin-left: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding-bottom: 4px;
  color: #5C5C5C;
}
ul.list li a, ol.list li a {
  color: #000;
}
ul.list li a:hover, ol.list li a:hover {
  color: #F04043;
}
ul.list.white li a, ol.list.white li a {
  color: #fff;
}
ul.list.white li a:hover, ol.list.white li a:hover {
  color: #F04043;
}

.fixed_img {
  width: 100%;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover !important;
  background-attachment: fixed !important;
  height: 100% !important;
  display: block;
  position: relative;
}

.fixed-overlay {
  background: rgba(28, 28, 28, 0.6);
  background-image: url(../images/overlay.png);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: block;
}

.sec-bg1 {
  background: url(../images/resource/paralax-1.jpg) no-repeat center;
}

.sec-bg2 {
  background: url(../images/resource/paralax-2.jpg) no-repeat right;
}

.block-paralax {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

/*----End-Paralax-css-----*/
.social-block {
  display: block;
}
.social-block a {
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  margin-right: 7px;
  border-radius: 7px;
  border-bottom: 1px solid #fff;
}
.social-block a:hover {
  opacity: 0.7;
}
.social-block a.facebook {
  background-color: #4267B2;
}
.social-block a.twitter {
  background-color: #00acee;
}
.social-block a.linkedin {
  background-color: #0e76a8;
}
.social-block a.youtube {
  background-color: #ff0000;
}

.section-title {
  display: block;
  text-align: center;
  position: relative;
  font-size: 27px;
  padding: 10px;
  margin: 0;
  margin-bottom: 10px;
}
.section-title:after {
  content: "";
  background: url(../images/black-border.png) no-repeat center;
  width: 123px;
  height: 13px;
  display: table;
  margin: 10px auto 0;
}
.section-title.white {
  color: #fff;
}
.section-title.white:after {
  background: url(../images/white-border.png) no-repeat center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#myBtn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #F04043;
  color: white;
  font-size: 22px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
  box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
}
#myBtn:hover {
  background-color: #555;
}

header {
  width: 100%;
  position: relative;
  z-index: 10;
  background-color: #f8f8f8;
}
header .logo {
  height: 170px;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
header .logo .img-size {
  width: auto;
  height: 100%;
}
@media (max-width: 992px) {
  header .logo {
    position: relative;
    height: 55px;
  }
}
header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
  box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
}
header.sticky .logo {
  height: 70px;
}
@media (max-width: 992px) {
  header.sticky .logo {
    height: 55px;
  }
}
header .loginblock {
  width: auto;
  float: right;
  margin-top: 18px;
}
@media (max-width: 992px) {
  header .loginblock {
    margin: 8px 0;
  }
}
header .loginblock .loginreg {
  background-color: #F04043;
  color: #000;
  margin-left: 10px;
}
@media (max-width: 992px) {
  header .loginblock .loginreg {
    background-color: rgba(255, 255, 255, 0.1);
    color: #F04043;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    padding: 0;
  }
  header .loginblock .loginreg span {
    display: none;
  }
}
header .loginblock .loginreg:hover {
  background-color: #fff;
}
@media (max-width: 992px) {
  header .loginblock .loginreg:hover {
    background-color: #F04043;
    color: #000;
  }
}

.relative-block {
  position: relative;
}

.menu {
  width: auto;
  display: inline-block;
  vertical-align: top;
  margin-top: 0;
  float: right;
}
.menu .moblogo {
  display: none;
}
.menu.closemenu {
  left: inherit;
}
.menu ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}
.menu ul li {
  width: auto;
  display: inline-block;
  margin: 0 5px;
  font-size: 15px;
  position: relative;
}
.menu ul li:after {
  content: "|";
  color: #9fa1a1;
  position: absolute;
  top: 5px;
  right: -6px;
}
.menu ul li:last-child:after {
  display: none;
}
.menu ul li a {
  text-decoration: none;
  padding: 5px 10px;
  display: block;
  color: #000;
  font-family: "Oswald", sans-serif;
  font-size: 17px;
  outline: none;
  text-transform: uppercase;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .menu ul li a {
    font-size: 14px;
    padding: 5px 7px;
  }
}
.menu ul li a:hover {
  color: #F04043;
}
.menu ul li ul.dmenu:after {
  position: absolute;
  top: -10px;
  left: 10px;
  z-index: 2;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #fff transparent;
}
.menu ul li ul.dmenu li {
  display: block;
  margin: 0;
}
.menu ul li ul.dmenu li a {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
}
.menu ul li ul.dmenu li:after {
  display: none;
}

.activelink.active {
  color: #F04043;
}

.mobmenu, .moboverlay {
  display: none;
}

@media (max-width: 992px) {
  .mobmenu {
    float: right;
    margin-left: 10px;
    display: block;
    background-color: rgba(255, 255, 255, 0.1);
    color: #F04043;
    text-align: center;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 22px;
  }
  .mobmenu:hover {
    background-color: #F04043;
    color: #000;
  }

  .moboverlay {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  .moboverlay.open {
    display: block;
  }

  .menu {
    width: 230px;
    height: 100%;
    display: block;
    margin: 0;
    background-color: #f8f8f8;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    box-shadow: 3px 0px 5px 0px rgba(238, 236, 246, 0.75);
    -webkit-box-shadow: 3px 0px 5px 0px rgba(238, 236, 246, 0.75);
    -moz-box-shadow: 3px 0px 5px 0px rgba(238, 236, 246, 0.75);
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }
  .menu.open {
    left: 0;
  }
  .menu .moblogo {
    height: 80px;
    display: block;
    margin: 10px 15px;
  }
  .menu .moblogo img {
    height: 100%;
    width: auto;
  }
  .menu ul {
    border-top: 1px solid #F04043;
    margin: 0;
  }
  .menu ul li {
    width: 100%;
    display: inline-block;
    margin: 0;
    font-size: 15px;
  }
  .menu ul li:after {
    display: none;
  }
  .menu ul li a {
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    color: #000;
  }
  .menu ul li a:hover {
    color: #F04043;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .menu ul li ul.dmenu {
    width: 100%;
  }
  .menu ul li ul.dmenu li {
    display: block;
    margin: 0;
  }
  .menu ul li ul.dmenu li a {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.carousel-fade .carousel-item {
  opacity: 0.2;
  transition-duration: 0.4s;
  transition-property: opacity;
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-item.active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slider-size {
  width: 100%;
  position: relative;
  height: 450px;
}
@media only screen and (min-width: 992px) and (max-width: 1400px) {
  .slider-size {
    height: 400px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .slider-size {
    height: 300px;
  }
}
@media (max-width: 767px) {
  .slider-size {
    height: 200px;
  }
}
.slider-size .img-size {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-design {
  position: relative;
  height: 450px;
}
@media only screen and (min-width: 992px) and (max-width: 1400px) {
  .slider-design {
    height: 400px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .slider-design {
    height: 300px;
  }
}
@media (max-width: 767px) {
  .slider-design {
    height: 200px;
  }
}
@media (max-width: 992px) {
  .slider-design {
    display: none;
  }
}
.slider-design .sliderstyle-size {
  width: 460px;
  height: 450px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
@media only screen and (min-width: 992px) and (max-width: 1400px) {
  .slider-design .sliderstyle-size {
    height: 400px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .slider-design .sliderstyle-size {
    height: 300px;
  }
}
@media (max-width: 767px) {
  .slider-design .sliderstyle-size {
    height: 200px;
  }
}
.slider-design-content {
  position: absolute;
  top: 160px;
  left: 20px;
  width: 270px;
  z-index: 12;
  color: #fff;
}
.slider-design-content .htext {
  font-size: 30px;
  font-weight: bold;
}
@media only screen and (min-width: 992px) and (max-width: 1400px) {
  .slider-design-content {
    top: 140px;
  }
  .slider-design-content .htext {
    font-size: 25px;
  }
}

.carousel-indicators {
  z-index: 5;
}
.carousel-indicators button {
  outline: none;
  height: 5px;
  background-color: #666;
}
.carousel-indicators button.active {
  background-color: #F04043;
}

.aboutimg {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  padding: 20px 0;
}
@media (max-width: 992px) {
  .aboutimg {
    padding: 0 0 10px;
  }
}
.aboutimg .img-size {
  border-radius: 6px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blockcontent {
  background-color: #fff;
  border-radius: 0 6px 6px 0;
  padding: 20px;
  width: 100%;
  height: 100%;
  position: relative;
}
@media (max-width: 992px) {
  .blockcontent {
    border-radius: 6px;
  }
}
.blockcontent h2 {
  font-size: 27px;
}
.blockcontent:before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 120px;
  height: 100%;
  background-color: #fff;
  border-radius: 6px 0 0 6px;
  display: block;
}
@media (max-width: 992px) {
  .blockcontent:before {
    display: none;
  }
}

.sustainabilitylist {
  width: 100%;
  display: block;
}
.sustainabilitylist ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.sustainabilitylist ul li {
  width: 50%;
  float: left;
}
@media (max-width: 992px) {
  .sustainabilitylist ul li {
    width: 100%;
  }
}
.sustainabilitylist ul li:nth-child(n+3) .sustainabilitylist-content {
  float: right;
}
.sustainabilitylist ul li:hover .sustainabilitylist-image:before {
  border-color: #fff;
}
.sustainabilitylist-content {
  width: 50%;
  height: 170px;
  float: left;
  background-color: #303849;
  padding: 20px;
  text-align: center;
  color: #fff;
  display: block;
  vertical-align: middle;
  display: flex;
  align-items: center;
  position: relative;
}
.sustainabilitylist-content a {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.sustainabilitylist-content:before {
  content: "";
  border: 1px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: block;
  width: 90%;
  height: 88%;
}
.sustainabilitylist-content h3 {
  font-size: 25px;
  width: 100%;
  position: relative;
  z-index: 2;
}
.sustainabilitylist-image {
  width: 50%;
  height: 170px;
  float: left;
  display: block;
  background-color: #fff;
  position: relative;
}
.sustainabilitylist-image:before {
  content: "";
  border: 1px solid #303849;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: block;
  width: 90%;
  height: 88%;
}
.sustainabilitylist-image .img-size {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured-block {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #fff;
  border-radius: 3px;
}
.featured-block .imgblock {
  width: 100%;
  height: 170px;
  display: block;
  padding: 10px;
}
.featured-block .imgblock .img-size {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  border-radius: 3px 3px 0 0;
}
.featured-block .downloadblock {
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.featured-block .imgcertifi {
  width: 100%;
  height: 250px;
  display: block;
  padding: 10px;
}
.featured-block .imgcertifi .imgsize {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  border-radius: 3px 3px 0 0;
}
.featured-block .contentblock {
  width: 100%;
  padding: 10px;
  display: inline-block;
  background-color: #F04043;
  border-radius: 0 0 3px 3px;
}
.featured-block .contentblock h5 {
  font-size: 17px;
  margin: 0;
  padding-bottom: 5px;
  color: #fff;
}
.featured-block .contentblock p {
  margin: 0;
}
.featured-block .viewblock {
  border-top: 1px solid #757575;
  padding: 2px 10px;
  display: block;
  position: relative;
}
.featured-block .viewblock .viewlink {
  width: 54px;
  height: 54px;
  line-height: 50px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  background-color: #F04043;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  right: 10px;
  z-index: 2;
  text-decoration: none;
  border: 4px double #fff;
  outline: none;
}
.featured-block .viewblock .viewlink:hover {
  background-color: #f8f8f8;
  color: #000;
}

.facilities {
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
}
.facilities ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.facilities ul li {
  width: 25%;
  float: left;
  display: block;
  text-align: center;
  position: relative;
  counter-increment: step-counter;
}
@media (max-width: 992px) {
  .facilities ul li {
    width: 50%;
  }
}
.facilities ul li a.item {
  display: block;
  padding: 15px;
  position: relative;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  padding-top: 80px;
  width: 100%;
  height: 100%;
  text-decoration: none;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.facilities ul li a.item.active {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000 !important;
}
.facilities ul li a.item.active:before {
  color: #000 !important;
}
.facilities ul li:before {
  color: #fff;
  content: "0" counter(step-counter);
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 35px;
  font-weight: 100;
  letter-spacing: 3px;
  margin-bottom: 15px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.facilities ul li:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000 !important;
}
.facilities ul li:hover:before {
  color: #000 !important;
}

.people-say {
  width: 100%;
  min-height: 200px;
  position: relative;
  display: block;
  border-radius: 3px;
  padding: 15px;
  float: right;
}
.people-say:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 90%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #c6c6c6;
}
.people-say:after {
  font-family: "icomoon";
  content: "";
  font-size: 30px;
  color: #F0F0F0;
  position: absolute;
  top: 10px;
  left: 115px;
  z-index: 1;
}
.people-say .peopleimg {
  width: 120px;
  height: 120px;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  padding: 5px;
  position: absolute;
  top: 50px;
  left: 0px;
  z-index: 2;
  display: block;
}
.people-say .peopleimg .img-size {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}
.people-say .peoplecontent {
  padding: 20px 20px 20px 130px;
  position: relative;
  z-index: 2;
}
.people-say .peoplecontent p {
  font-size: 13px;
  color: #757575;
  margin: 0;
  padding-bottom: 3px;
  padding-top: 3px;
}
.people-say .peoplecontent p strong {
  color: #000;
  font-size: 15px;
}

footer {
  background-color: #1B191A;
  border-top: 1px solid rgba(239, 239, 239, 0.2);
  width: 100%;
  display: block;
  padding: 10px 0 0 0;
}
footer .bottomborder {
  display: block;
  border-bottom: 1px solid rgba(244, 244, 244, 0.2);
}
footer .heading {
  font-size: 20px;
  color: #F04043;
  margin-top: 22px;
  margin-bottom: 15px;
}
footer .call {
  font-size: 13px;
  color: #fff;
}
footer .call i {
  font-size: 18px;
}
footer .call strong {
  font-size: 17px;
}
footer .subcolor {
  background-color: #F04043;
}
footer .subcolor:hover {
  background-color: #FFC328;
}
footer .logofooter {
  height: 80px;
}
footer .logofooter img {
  width: auto;
  height: 100%;
}
footer p {
  color: #DCDCDC;
  font-size: 15px;
  line-height: 25px;
}
footer ul.list li {
  margin-bottom: 5px;
  margin-top: 5px;
}
footer ul.list li a {
  color: #DCDCDC;
  text-decoration: none;
}
footer ul.list li a:hover {
  color: #F04043;
}
footer .gettouch {
  position: relative;
}
footer .gettouch .form-control {
  border-radius: 0;
  background-color: transparent;
  color: #fff;
}
footer .gettouch .btn {
  border-radius: 0;
  position: relative;
}
footer .gettouch .ajax-loader {
  position: absolute;
  bottom: 24px;
  right: -8px;
  z-index: 1;
}
footer .gettouch .wpcf7-response-output {
  color: #ffb900;
  font-size: 12px;
  text-align: center;
  margin-left: -6px;
  margin-right: -6px;
  margin-top: 5px;
  margin-bottom: 0;
}
footer .gettouch .mb-3 {
  position: relative;
}
footer .gettouch .mb-3 .wpcf7-not-valid-tip {
  font-size: 12px;
}
footer .gettouch textarea {
  height: 84px;
}
footer .copyright {
  width: 100%;
  display: inline-block;
  background-color: #333;
  border-top: 1px solid #fff;
  padding: 20px 0;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

.other-banner {
  width: 100%;
  position: relative;
  display: block;
}
.other-banner .font-size24 {
  font-size: 24px;
}
.other-banner img {
  width: 100%;
}
.other-banner .block-content-other {
  position: absolute;
  bottom: 30px;
  left: 15px;
  z-index: 6;
}
@media (max-width: 767px) {
  .other-banner .block-content-other {
    margin-top: 0px;
  }
}

ul.aboutlist {
  list-style: none;
  width: 100%;
  margin: 15px 0;
  padding: 0;
  display: inline-block;
}
@media (max-width: 767px) {
  ul.aboutlist {
    overflow: auto;
    white-space: nowrap;
    margin: 10px 0 0 0;
  }
}
ul.aboutlist li {
  width: 25%;
  float: left;
}
@media (max-width: 767px) {
  ul.aboutlist li {
    width: 50%;
    float: none;
    display: inline-block;
    margin-bottom: 20px;
  }
}
ul.aboutlist li a {
  background-color: #fff;
  width: 100%;
  display: block;
  padding: 15px;
  font-family: "Oswald", sans-serif;
  font-size: 17px;
  color: #000;
  text-align: center;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
  box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
  text-decoration: none;
  position: relative;
}
ul.aboutlist li a:hover {
  color: #F04043;
}
ul.aboutlist li.active a {
  color: #F04043;
}
ul.aboutlist li.active a:before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  z-index: 2;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 25px 0 25px;
  border-color: #fff transparent transparent transparent;
}

ul.productlist {
  list-style: none;
  width: 100%;
  margin: 15px 0;
  padding: 0;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  ul.productlist {
    overflow: auto;
    white-space: nowrap;
    margin: 10px 0 0 0;
  }
}
ul.productlist li {
  width: 100%;
  float: left;
}
@media (max-width: 767px) {
  ul.productlist li {
    width: 50%;
    float: none;
    display: inline-block;
    margin-bottom: 20px;
  }
}
ul.productlist li a {
  background-color: #fff;
  width: 100%;
  display: block;
  padding: 15px;
  font-family: "Oswald", sans-serif;
  font-size: 17px;
  color: #000;
  text-align: center;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
  box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
  text-decoration: none;
  position: relative;
}
@media only screen and (min-width: 767px) and (max-width: 1400px) {
  ul.productlist li a {
    min-height: 80px;
  }
}
ul.productlist li a:hover {
  color: #F04043;
}
ul.productlist li a.active {
  color: #F04043;
}
ul.productlist li a.active:before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  z-index: 2;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 25px 0 25px;
  border-color: #fff transparent transparent transparent;
}

/*contact-style------*/
.contact_input_area .form-group input,
.contact_input_area .form-group select,
.contact_input_area .form-group textarea {
  border-radius: 3px;
  box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.15);
  font-weight: 300;
  height: 50px;
  margin-bottom: 15px;
  padding: 15px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  width: 100%;
}

.contact_input_area .form-group input:focus,
.contact_input_area .form-group select:focus,
.contact_input_area .form-group textarea:focus {
  box-shadow: 5px 5px 24px rgba(0, 0, 0, 0.15);
  border: none;
}

.contact_input_area .form-group textarea {
  height: 150px;
}

.contact_input_area .btn-info {
  background-color: #E7E7E7;
  border-color: #E7E7E7;
  color: #3B3B3B;
  font-size: 16px;
}
.contact_input_area .btn-info:hover {
  background-color: #F04043;
  border-color: #F04043;
  color: #fff;
}

/*End-contact-style------*/
.policy {
  width: 80%;
  background-color: #fbfbfb;
  display: block;
  margin: 50px auto;
  font-style: italic;
  font-size: 18px;
  padding: 30px;
  border: 10px double #ccc;
}
@media (max-width: 767px) {
  .policy {
    width: 100%;
    margin: 0;
    padding: 20px;
  }
}

.job-search {
  width: 100%;
  display: inline-block;
  position: relative;
  z-index: 10;
  top: -30px;
  background-color: #fcfcfc;
  padding: 25px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.13);
}
.job-search:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 24px;
  left: 0;
  bottom: -23px;
  display: block;
  background-image: url(../images/search-shadow.png);
  background-size: 100% 100%;
}
@media (max-width: 767px) {
  .job-search {
    top: -20px;
  }
}
.job-search ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: inline-block;
  text-align: center;
}
.job-search ul li {
  display: inline-block;
  width: 27%;
  list-style: none;
  padding: 0 5px;
  position: relative;
}
@media (max-width: 767px) {
  .job-search ul li {
    width: 100%;
    margin-bottom: 10px;
  }
}
.job-search ul li:last-child {
  width: 18%;
}
@media (max-width: 767px) {
  .job-search ul li:last-child {
    width: 100%;
    margin-bottom: 0;
  }
}
.job-search ul li .form-control {
  height: 56px;
  width: 100%;
  color: #6f7484;
  font-size: 14px;
  padding: 7px 20px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 1px solid #F04043;
}
.job-search ul li .btn-search {
  height: 55px;
  width: 100%;
  padding: 10px !important;
}

.btn-style, .wpcf7-submit {
  background-color: #F04043;
  color: #fff;
  border: 1px solid #F04043;
  border-radius: 4px;
  padding: 10px;
}
.btn-style:hover, .wpcf7-submit:hover {
  background-color: transparent;
  color: #F04043;
}

.blockbg {
  background-color: #fff;
  padding: 20px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin-bottom: 20px;
}

.product-service {
  width: 100%;
}
.product-service a {
  width: 100%;
  color: #000;
  text-decoration: none;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #f1f1f1;
  padding: 10px;
  display: block;
  position: relative;
  min-height: 130px;
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
  box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
  margin-bottom: 10px;
}
.product-service a .icon-wrapper {
  width: 100%;
  position: relative;
  z-index: 2;
}
.product-service a .icon-wrapper img {
  filter: invert(100%);
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.product-service a .product-txt {
  width: 100%;
  position: relative;
  z-index: 2;
  font-size: 20px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.product-service a:before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 0;
  height: 0;
  border-top: 0px solid #F04043;
  border-right: 0px solid transparent;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.product-service a:after {
  position: absolute;
  content: "";
  bottom: 0px;
  right: 0px;
  width: 0;
  height: 0;
  z-index: 0;
  border-bottom: 0px solid #F04043;
  border-left: 0px solid transparent;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.product-service a:hover .icon-wrapper img, .product-service a.active .icon-wrapper img {
  filter: none;
}
.product-service a:hover .product-txt, .product-service a.active .product-txt {
  color: #fff;
}
.product-service a:hover:before, .product-service a.active:before {
  border-top: 201px solid #F04043;
  border-right: 362px solid transparent;
}
.product-service a:hover:after, .product-service a.active:after {
  border-bottom: 200px solid #F04043;
  border-left: 360px solid transparent;
}

.padr0 {
  padding-right: 0;
}
@media (max-width: 991px) {
  .padr0 {
    padding-right: 12px;
  }
}

.padl0 {
  padding-left: 0;
}
@media (max-width: 991px) {
  .padl0 {
    padding-left: 12px;
  }
}

.custing {
  margin-bottom: 15px;
}
.custingimg {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #AAD9ED;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
  box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
}
.custingimg .imgsize {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
@media (max-width: 991px) {
  .custingimg .imgsize {
    height: 170px;
  }
}
.custinglist {
  width: 100%;
  height: 100%;
  padding: 10px 10px 10px 20px;
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
  box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
}
.custinglist ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.custinglist ul li {
  display: inline-block;
  padding: 7px 20px 7px 0;
}
.custinglist ul li a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
}
.custinglist ul li a:before {
  content: "";
  font-family: "icomoon";
  color: #F04043;
  position: relative;
  top: 2px;
  margin-right: 4px;
}
.custinglist ul li a:hover {
  color: #F04043;
}

.description {
  width: 100%;
  display: block;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
  box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
}
.description .heading {
  background-color: #f8f8f8;
  padding: 15px 20px;
  font-size: 22px;
  color: #F04043;
}
.description ul {
  width: 100%;
  display: block;
  margin: 0;
  padding: 5px 20px 10px;
  list-style: none;
}
.description ul li {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 7px 0;
}
@media (max-width: 991px) {
  .description ul li {
    display: block;
  }
}
.description ul li .nwme {
  min-width: 150px;
  position: relative;
  padding-right: 15px;
}
.description ul li .nwme:after {
  content: ":";
  color: #F04043;
  font-weight: bold;
  position: absolute;
  top: -1px;
  right: 10px;
}
@media (max-width: 991px) {
  .description ul li .nwme:after {
    position: relative;
    right: inherit;
  }
}
@media (max-width: 991px) {
  .description ul li .nwme {
    width: 100%;
  }
}

ul.listcusting {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}
ul.listcusting li {
  width: 100%;
  margin: 0;
}
ul.listcusting li a {
  width: 100%;
  padding: 10px 10px 10px 40px;
  font-size: 16px;
  display: block;
  text-decoration: none;
  color: #000;
  position: relative;
}
ul.listcusting li a img {
  width: 25px;
  position: absolute;
  top: 10px;
  left: 8px;
  display: inline-block;
  filter: invert(100%);
}
ul.listcusting li a:hover {
  background-color: #FFEEEE;
}

.carousel-style {
  display: block;
  width: 100%;
  position: relative;
}
.carousel-style .owl-item img {
  width: auto !important;
}
.carousel-style .owl-nav button.owl-prev i,
.carousel-style .carousel-style .owl-nav button.owl-next i {
  font-size: 25px;
  line-height: 50px;
  font-weight: 600;
}
.carousel-style .owl-nav button.owl-prev {
  position: absolute;
  top: 30%;
  left: 0px;
  width: 30px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
  box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
  font-size: 25px;
}
.carousel-style .owl-nav button.owl-prev.disabled {
  cursor: not-allowed;
}
.carousel-style .owl-nav button.owl-next {
  position: absolute;
  top: 30%;
  right: 0px;
  width: 30px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
  box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
  font-size: 25px;
}
.carousel-style .owl-nav button.owl-next.disabled {
  cursor: not-allowed;
}

.box-shadow {
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
  box-shadow: 0px 3px 5px 0px rgba(0, 31, 36, 0.3);
  width: 100%;
  display: inline-block;
}

.pad5 {
  padding-left: 5px;
  padding-right: 5px;
}
@media (max-width: 992px) {
  .pad5 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
